body {
    background-color: #123;
}
.container {
    width: 500px;
    height: 500px;
}
#map {
    border: 5px solid #666;
    cursor: url(images/target.png), auto;
    background-color: #bbb;
}
#bird {
    position: relative;
    width: 48px;
    height: 48px;
    background-image: url(images/bird-1.png);
    /* border: 1px solid red; */
}
#result {
    margin-top: 10px;
    color: white;
    font-size: 32px;
    font-family: Arial;
    line-height: 32px;
    text-align: center;
}
